@{
    ViewBag.Title = "Tax Manager";
}

<div ng-app="TaxDataManager" ng-controller="MainCtrl as vm">
    <section class="content-header">
        <h1>
            {{vm.title}}
            <small>{{vm.description}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Tax</li>
            <li class="active">Data Manager</li>
        </ol>
    </section>

    <div class="content">


        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Constituent Tax Data</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="dataTables_length" id="example1_length">
                                        <label>
                                            Show
                                            <select ng-model="vm.result.pageSize" ng-options="item for item in ['10','15','20', '25', '50']"></select>

                                            <select ng-model="vm.result.pageSize" ng-options="item for item in pageSizes"></select>
                                            <span>Selected value: {{vm.result.pageSize}}</span>
                                            entries
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="example1_filter" class="dataTables_filter pull-right">
                                        <label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th></th>
                                            <th>Name</th>
                                            <th>LookupId</th>
                                            <th>Finder Number</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Updated</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in vm.result.items">
                                            <td>
                                                <button class="btn btn-sm" ng-click="vm.editModal(item)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-sm" ng-click="vm.editModal(item)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.lookupId}}</td>
                                            <td>{{item.finderNumber}}</td>
                                            <td>
                                                {{item.street}} <br>
                                                {{item.street2}} <br>
                                                {{item.city}}, {{item.state}} {{item.zipcode}}
                                            </td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.phone}}</td>
                                            <td>{{item.isUpdated}}</td>
                                        </tr>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                        Showing {{vm.result.page}} of {{vm.result.totalPages}} pages of {{vm.result.filteredCount}} entries (filtered from {{vm.result.totalCount}})
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                        <ul class="pagination"><li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button next disabled" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">Next</a></li></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </div>

</div>

@section scripts
{
    @Scripts.Render("~/scripts/angular")
    @Scripts.Render("~/scripts/taxdatamanager")
}
