@{
    ViewBag.Title = "Tax Manager";
}

<div ng-app="TaxDataManager" ng-controller="MainCtrl as vm" ng-cloak="">
    <section class="content-header">
        <h1>
            {{vm.title}}
            <small>{{vm.description}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Tax</li>
            <li class="active">Data Manager</li>
        </ol>
    </section>

    <div class="content">


        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Constituent Tax Data</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-inline dt-bootstrap">

                            <div class="row">
                                <div class="col-sm-12">
                                    <label>
                                        Search:
                                        <input type="search" class="form-control input-sm" placeholder="Finder Number" ng-model="vm.result.finderNumber">
                                        <input type="search" class="form-control input-sm" placeholder="LookupId" ng-model="vm.result.lookupId">
                                        <input type="search" class="form-control input-sm" placeholder="Name" ng-model="vm.result.name">
                                    </label>
                                    <button class="btn btn-primary" ng-click="vm.search()">Search</button>
                                </div>
                                <div class="col-sm-12">
                                    <span>Page {{vm.result.page}} of {{vm.result.totalPages}}</span>
                                    <span class="pull-right">{{vm.result.filteredCount}} records (filtered from {{vm.result.totalCount}})</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="item in vm.result.items">
                                            <div>
                                                <span>
                                                    <span class="label label-warning pull-right" ng-click="vm.showTaxItems(item.id)">View Taxes</span>
                                                </span>
                                                <div>
                                                    <address>
                                                        <a href="" ng-click="vm.editModal(item)"><strong>{{item.name}}</strong></a><br>
                                                        {{item.street}}<br>
                                                        {{item.city}}, {{item.state}} {{item.zipcode}}<br>
                                                        <abbr title="Phone">Phone:</abbr> {{item.phone}}<br />
                                                        <abbr title="email">Email:</abbr> {{item.email}}
                                                    </address>

                                                </div>
                                                <div>
                                                    <dl>
                                                        <dt>LookupId</dt>
                                                        <dd>{{item.lookupId}}</dd>
                                                        <dt>FinderNumber</dt>
                                                        <dd>{{item.finderNumber}}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-sm-8">
                                    <uib-pagination ng-show="vm.showPager()" total-items="vm.result.filteredCount"
                                                    ng-model="vm.result.page"
                                                    ng-change="vm.search()"
                                                    items-per-page="vm.result.pageSize"
                                                    class="pagination-sm"
                                                    boundary-links="true"
                                                    rotate="false"></uib-pagination>
                                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </div>

</div>

@section scripts
{
    @Scripts.Render("~/scripts/angular")
    @Scripts.Render("~/scripts/taxdatamanager")
}
