@{
    ViewBag.Title = "Tax Manager";
}

<div ng-app="">
    <section class="content-header">
        <h1>
            Data Manager
            <small>Upload tax data</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>TaxManager</li>
            <li class="active">DataManager</li>
        </ol>
    </section>
</div>