
@{
    ViewBag.Title = "Profile";
}

<section class="content-header">
    <h1>
        Profile
        <small>Update your profile</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">My Profile</li>
    </ol>
</section>


