        <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">MAIN MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="/MarkIt"><i class="fa fa-check"></i> <span>Mark-It</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dollar"></i> <span>Tax</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Tax/datamanager">Data Manager</a></li>
                    <li><a href="/Tax/template">Template</a></li>
                    <li><a href="/Tax/taxupload">Upload</a></li>
                    <li><a href="/DonorTax">Donor Tax</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i> <span>Events</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/EventManager">Manager</a></li>
                    <li><a href="/EventManager/Template">Templates</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-cogs"></i> <span>Administration</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>


