@media print {

    @page {
        margin: 1.5cm;
        border: solid 1px;
    }

    .red {
        color: #ff0000 !important;
    }

    .small {
        font-size: .6em;
    }

    .well {
        clear: both;
        border: none !important;
    }

    #totalTitleCell {
        border: none;
    }

    footer {
        font-style: italic !important;
    }


    /*.screen {
        display: none !important;
    }*/


    /*header, footer, nav, .container {
        display: none !important;
    }*/

    /*.print {
        display: inline-block;
    }*/

    /*body {
        margin: 0;
        background-image: none;
        font-size: 12pt;
        font-size: 2em;
    }*/



    /*.col-left {
        width: 70%;
    }
    .col-right {
        width: 25%;
        border: solid 1px;
    }

    .red {
        color: #ff0000 !important;
    }

    .small {
        font-size: 1em;
    }

    .logo-print {
        width: 10cm;
    }

    address {
        border: solid 1px #000;
    }*/
}
